.footer_wrap {
  background: #41969c;
  height: 100%;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* color: rgb(247, 236, 236); */
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0;
  align-items: center;
}

@media (max-width: 900px) {
  .footer__content {
    font-size: 20px;
  }
}
@media (max-width: 660px) {
  .social-links {
    /* display: none; */
  }
}
@media (max-width: 540px) {
  .footer__content {
    display: block;
    text-align: center;
  }
}
